<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alumni Member Addition</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <style>
    input {
      text-transform: uppercase;
    }
  </style>
</head>

<body>
  <div class="container flex justify-center align-center">

    <div class="container d-flex justify-content-center align-items-center">
      <h1>Information Gathering Page</h1>
    </div>
    <form method="post" enctype="multipart/form-data" action="/process">
      <div class="form-row">
        <div class="row">
          <div class="col">
            <label for="firstname">First Name</label>
            <input autocapitalize="on" type="text" class="form-control" name="firstname" id="firstName" placeholder="Ex. Mohd" required>
          </div>
          <div class="col">
            <label for="lastname">First Name</label>
            <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Ex. Faraz" required>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="id">Alumni No.</label>
            <input type="text" class="form-control" pattern="[sS][0-9]{4}[A-Za-z]{2}[0-9]{4}" maxlength="11" name="id" id="id" placeholder="Ex. 200110188" required>
          </div>
          <div class="col">
            <label for="dateofbirth">Date of Birth</label>
            <input type="date" class="form-control" name="dateofbirth" id="dateofbirth" placeholder="Ex. 13.11.2000" required>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="gender">Gender</label>
            <select class="form-control" name="gender" id="gender" required>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
          <div class="col">
            <label for="branch">Branch</label>
            <input type="text" class="form-control" name="branch" id="branch" placeholder="Ex. CSE" required>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="contact">Contact</label>
            <input type="text" class="form-control" minlength="10" maxlength="10" name="contact" id="contac" placeholder="Ex. 97XXXXXXXX" required>
          </div>
          <div class="col">
            <label for="batch">Batch</label>
            <input type="text" pattern="[0-9]{4}-[0-9]{4}" class="form-control" name="batch" id="batch" placeholder="Ex. 2001-2005" required>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="fathername">Father's Name</label>
            <input type="text" class="form-control" name="fathername" id="fathername" placeholder="Father's Name" required>
          </div>
          <div class="col">
            <label for="address">Address</label>
            <input type="text" class="form-control" name="address" id="address" placeholder="Address" required>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="city">City</label>
            <input type="text" class="form-control" name="city" id="city" placeholder="City" required>
          </div>
          <div class="col">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" name="zip" id="zip" placeholder="Zip" required>
          </div>
        </div>
        <div class="row">
          <label for="picture">Select Picture</label>
          <input type="file" accept="image/jpeg" name="picture" class="form-control-file" id="picture" required>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
  </div>
</body>

</html>